[Unit]
Description=Appstor first-boot specialization
After=network-online.target docker.service cloud-config.service
Wants=network-online.target docker.service
ConditionPathExists=!/var/lib/appstor/.bootstrapped

[Service]
Type=oneshot
EnvironmentFile=/etc/appstor/boot.env
ExecStart=/opt/yag/appstor/boot/firstboot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
